body { 
  margin: 1rem;
   padding: 20px;
  font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
}
p {
  line-height: 28px;
  font-size: 1.2rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
code {
  text-align: left;
}
pre {
  text-align: left;
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  font-family: "Courier New" Courier monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}
.btn {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  font-size: 20px;
}

blockquote {
  font: 14px;
  padding-left: 70px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 10px;
  background-color: #bfdef8;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}


.blue-box {
    border: solid blue;
    padding: 1rem;
}

.orange-box {
    border: solid orange;
    padding: 1rem;
}

.title {
  background: teal;
  color: white;
}
